:root {
  --box-shadow-color: rgba(0, 0, 0, 0.4);

  --light-hr: gray;
  --light-text: black;
  --light-nav: hsl(240, 100%, 50%);
  --light-background: white;

  --dark-hr: white;
  --dark-text: white;
  --dark-hover-text: #add8e6;
  --dark-background: black;
  
  --font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  color: var(--light-text);
  font-size: 1vw;
  font-family: var(--font);
  box-sizing: border-box;
}

body {
  background-color: var(--light-background);
  animation: slide-in 1s;
}

.header-container, main, footer hr {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
}

h1 {
  padding: 0.5rem 0;
  flex: 1;
}

h2 {
  font-size: 2vw;
}

h4 {
  font-size: 1.5vw;
}

h1 a {
  font-size: 2.5vw;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 1rem;
  text-decoration: none;
  font-size: 1.5vw;
}

nav ul li a.current {
  font-weight: bold;
  color: var(--light-nav);
}

#nav-hamburger {
  display: none;
}

h1 a:hover,
nav ul li a:hover {
  color: var(--light-nav);
  transition: color 0.5s ease-in-out;
}

#about .grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "intro intro"
    "persona bio"
    "hobbies hobbies";
  align-items: center;
  grid-gap: 1rem;
  margin-top: 1rem;
}

#about h2 {
  grid-area: intro;
  text-align: center;
  padding: 3rem 0;
  font-size: 3vw;
}

#about h4 {
  padding-bottom: 0.25rem;
}

#about picture img {
  grid-area: persona;
  display: block;
  max-width: 75%;
  margin: 1em auto;
  object-fit: cover;
  object-position: center;
}

#about .bio-grid {
  grid-area: bio;
  padding: 1rem;
}

#about .bio-grid p {
  padding-bottom: 2rem;
}

table tr td:nth-child(2) {
  padding-left: 1.5rem;
}

#about .hobbies-grid {
  grid-area: hobbies;
  padding: 1rem;
}

#about .hobbies-grid ul {
  padding-left: 1rem;
}

#about, #portfolio, #resume, #contact {
  padding: 2rem 1rem;
}

#portfolio ol {
  padding: 1rem 1.25rem;
}

#portfolio ol li {
  margin-bottom: 1rem;
}

#resume h2, #contact h2 {
  margin-bottom: 1rem;
}

#resume iframe {
  width: 100%;
  height: 80vh;
}

#contact table {
  margin-bottom: 1rem;
}

form .form-content {
  padding: 1rem;
}

form label {
  padding-bottom: 1rem;
  display: inline-block;
}

form textarea {
  display: block;
  width: 95%;
  height: 4rem;
  padding: 2.5%;
}

footer p {
  padding: 2rem 0;
  text-align: center;
}

@media only screen and (max-width: 512px) {
  nav ul li{
    display: block;

  }

  #nav-hamburger {
    display: block;
  }

  .grid-container {
    display: block !important;
  }

  #about picture img {
    margin: 3rem auto;
  }

  #about .hobbies-grid {
    margin-top: 2rem;
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}